.collection-card {
  color: #fff;
  background-color: #1a1c1e;
  border-radius: 20px;
  overflow: hidden;
  margin: 30px;
  width: 300px;
  height: 550px;
  cursor: pointer;
}

.collection-card-image {
  border-radius: 20px;
  display: block;
  /* height: 100%; */
  width: 100%;
  max-height: 400px;
}

.weth-image {
  height: 23px;
  width: 15px;
}

.details {
  padding: 20px;
}

.price-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  object-fit: contain;
}

.price {
  margin-left: 5px;
  font-weight: 600;
}

.name {
  font-size: 20px;
  font-weight: 900;
}

.id {
  color: #a1a5b0;
  font-size: 18px;
  font-weight: 600;
}
